html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 10px;
  background-color: #111417;
}

.p-card, .p-fileupload .p-fileupload-content, .p-fileupload .p-fileupload-buttonbar {
  background: #161a1f;
  border: 1px solid var(--surface-border);
}

.p-datatable-wrapper::-webkit-scrollbar {
  display: none;
}

.p-breadcrumb {
  width: fit-content;
  background: transparent;
  border: none;
}

#pr_id_2_sep_home {
  display: none;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #181c24;
  border-radius: 15px;
  cursor: pointer;
}

*::-webkit-scrollbar-thumb {
  width: 10px;
  min-height: 50px;
  background-color: #34d399;
  border-radius: 15px;
  cursor: pointer;
}

.p-password-input {
  width: 100%;
}

.p-input-icon-right > i:last-of-type,
.p-input-icon-right > svg:last-of-type,
.p-input-icon-right > .p-input-suffix {
  cursor: pointer;
  display: flex;
  align-items: center;
}
