.p-datatable-wrapper::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #181c24;
  border-radius: 15px;
  cursor: pointer;
}

*::-webkit-scrollbar-thumb {
  width: 10px;
  min-height: 50px;
  background-color: #34d399;
  border-radius: 15px;
  cursor: pointer;
}